repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: trailing-whitespace
        exclude: tdump\.[0-9]*
      - id: end-of-file-fixer
      - id: check-docstring-first
        exclude: monetio/obs/openaq_v(2|3)\.py
      - id: check-yaml

  - repo: https://github.com/asottile/pyupgrade
    rev: "v3.21.2"
    hooks:
      - id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
