repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: trailing-whitespace
        exclude: tdump\.[0-9]*
      - id: end-of-file-fixer
      - id: check-docstring-first
        exclude: monetio/obs/openaq_v(2|3)\.py
      - id: check-yaml

  - repo: https://github.com/asottile/pyupgrade
    rev: "v3.21.2"
    hooks:
      - id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/PyCQA/isort
    rev: "7.0.0"
    hooks:
      - id: isort
        args: [--line-length=100]

  - repo: https://github.com/psf/black
    rev: "25.12.0"
    hooks:
      - id: black
        args: [--line-length=100]

  - repo: https://github.com/PyCQA/flake8
    rev: "7.3.0"
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --ignore=E203,E402,E501,W503,E226

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
